/* App */
* {
  font-family: 'Montserrat', serif;
}
body {
  font-size: 20px;
  color: gray;
  background-color: #FAF3DC;
}
h1 {
  font-size: 50px;
  color: #489DF7;
  text-shadow: 1px 1px 0px #E3E3E3;
  margin-top: 20px;
  margin-bottom: 0;
}
h1 strong {
  font-size: 50px;
}
small {
  font-size: 0.6em;
}
h2 {
  font-size: 30px;
  text-shadow: 1px 1px 0px #E3E3E3;
}
@media only screen and (min-width: 480px) {
  body {
    font-size: 26px;
  }
  h1 {
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  h1 strong {
    font-size: 100px;
  }
  .sub-header {
    margin-top: -30px;
  }
  h2 {
    font-size: 50px;
  }
}

/* Navigation */
nav {
  margin-bottom: 20px !important;
}
nav > .row {
  margin-top: 30px;
}
nav button {
  margin: 0px 3px;
}
.nav button:focus {
  outline: 0;
}
nav button.router-link-active {
  background-color: #286090;
  border-color: #204d74;
}
.btn-mcc {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0;
}
@media only screen and (min-width: 480px) {
  nav {
    margin-bottom: 60px !important;
  }
  nav button {
    margin: 0px 5px;
  }
  .btn-mcc {
    font-size: 26px;
    padding: 13px 20px;
    border-radius: 8px;
  }
  hr {
    margin: 50px 0;
  }
}

/* Meeting */
a {
  cursor: pointer;
}
.row {
  margin-bottom: 7px;
}
.meeting-form .btn {
  margin-right: 5px;
}
.alert {
  font-size: 16px;
  margin-bottom: 25px;
}
.meeting-optional-info-control {
  font-size: 0.8em;
  margin-bottom: 0;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.meeting-optional-info-control .fa {
  font-size: 1.5em;
  color: gray;
  margin-right: 10px;
}
.meeting-optional-info .checkbox-lg {
  width: 30px; height: 30px;
}
i:before:hover {
	text-decoration: none;
}
.meeting-cost {
  cursor: pointer;
}
.meeting-control button:focus {
  outline:0;
}
.meeting-control .fa {
  font-size: 5em;
}
.meeting-control .fa-play {
  color: #5cb85c;
}
.meeting-control .fa-stop {
  color: #d9534f;
}
select.mcc-input, .Select-placeholder {
  height: 45px;
  line-height: 25px;
  -webkit-appearance: none;
  -webkit-border-radius: 30px;
}
.mcc-input {
  height: 45px;
  padding: 8px 18px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 30px;
}
label {
  font-size: 0.5em;
  font-weight: normal;
  margin-top: 15px;
  margin-right: 10px;
}
.good-meeting label {
  margin-bottom: 5px;
}
.location-finder {
  margin-top: 15px;
}
@media only screen and (min-width : 480px) {
  select.mcc-input {
    height: 60px;
    line-height: 35px;
  }
  .mcc-input {
      height: 60px;
      padding: 12px 24px;
      font-size: 22px;
  }
  .meeting-optional-info-control {
    font-size: 0.7em;
  }
  .meeting-control .fa {
    font-size: 7em;
  }
  label {
    font-size: 0.8em;
  }
  .good-meeting label {
    margin-bottom: 0;
  }
  .location-finder {
    margin-top: 0;
  }
}

/* Meeting status */
.alert-meeting-cost {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.alert-meeting-cost small {
  font-size: 14px;
  color: lightgray;
}
@media only screen and (min-width : 480px) {
 .alert-meeting-cost {
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

/* About */
.about img {
  margin-bottom: 40px;
}
